<%-include('partials/header')%>

<section id="Create_form">
    <div class="container form-container">
        
        <div class="form">
            <h1>New Blog Post</h1>
    <form action="/submit" method="post">
        <div class="form-group">
          
          <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter title">
          
        </div>
        <div class="form-group">
          
          <input type="text" name="content" class="form-control" id="content" placeholder="Write your content">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
</section>














<%-include('partials/footer')%>